{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block navbar_brand %}{{ title }}{% endblock %}
{% block content %}
    <h1 class="display-5 mt-4">Летим <span data-test="from">{{ departures[country] }}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ country_tours|length }}</span> туров, от <span data-test="pricemin">{{ country_tours_price|min }}</span> до <span data-test="pricemax">{{ country_tours_price|max }}</span> и от <span data-test="nightsmax">{{ country_tours_nights|min }}</span> ночей до <span data-test="nightsmax">{{ country_tours_nights|max }}</span> ночей</p>
    <!-- HERO -->

    <!-- CARDS -->

      <div class="row mt-5" data-test="cards">
        {% for id, tour in country_tours.items() %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ tour.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ tour.title }}</h5>
             <p class="card-text">{{ tour.description|truncate(100,True) }}</p>
                <a href="/tour/{{ id }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}