{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block navbar_brand %}{{ title }}{% endblock %}
{% block content %}

    <!-- HERO -->

    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </div>

    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">

		{% for k,v in tours.items() %}
		{% if k < 7 %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ v.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ v.title }}</h5>
             <p class="card-text">{{ v.description|truncate(100, True) }}</p>
                <a href="" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
		</div>
		{% endif %}
		{% endfor %}
    </div>
{% endblock %}